body {
    padding: 0;
    margin: 0;
    margin-top: 5em;
    background-image: url('../img/maxresdefault.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

div {
    padding: 0 1em 1em 1em;
}

.hidden {
    display: none;
}

.borderRightTopDiv {
    border-right: 1px dashed dimgrey;
}

#dropMenuMobile {
    height: 21%;
}

#dropMenuMobileIndex {
    height: 26%;
}

.green {
    color: lime;
    font-weight: 900;
}

.red {
    color: red;
    font-weight: 900;
}

a, a:hover, a:visited, a:active {
    color: limegreen;
    font-weight: 900;
}

.fixed-top {
    height: 4em;
    border-bottom: 1px solid dimgrey;
    background-color: black;
}

.black-div {
    border: 1px solid dimgrey;
    background-color: rgba(0,0,0,0.90);
}

.bottomDiv {
    color: rgba(105,105,105, 0.5);
}
.knowMore {
    border-bottom: 1px dashed dimgrey;
}

a.hovered {
    font-weight: normal;
    text-decoration: none;
    color: white;
}

.hovered:hover {
    text-decoration: none;
    color: limegreen;
}

.pagination li {
    display:inline-block;
    padding:5px 10px;
    background : rgba(0,0,0,0);
    border: 1px solid white;
}

.topInput {
    height: 60%;
}